.col-btn {
    height:400px;
    border: 1px solid black;
    width: 100%
    text-align: center;
    display: table;
}

.col-btn .form-group {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
}

.nav-tabs, .nav-pills {
    text-align:center;
}

ul.nav-tabs > li > a {
    color: #1a237e;
    font-size: 15px;
}

.dropdown-menu > li > a.link-menu-usuario-dropdown {
    font-size: 12px;
    color: #000 !important;
    padding: 8px 16px;
    font-weight: 400;
}

.div-btn-continuar {
    height: 50vh;
    border: 3px solid #1a237e;
}

.tabs .tab a {
    color: #1a237e;
    text-overflow: unset;
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #1a237e;
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    color: rgba(102, 147, 153, 0.7);
}

.tabs .indicator {
    background-color: #1a237e;
}

label {
    color: #1a237e;
}

.label-seleccionada {
    background-color: #CCC;
    font-weight: bolder;
    padding: 5px;
    /*color:#FFF;*/
}

.text-gris {
    color: #666;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #666;
    opacity: 1; /* Firefox */
}

#buscar_articulo::placeholder {
    color: #FFF;
}

.btn-tabla {
    margin-bottom: 5px;
    margin-right: 5px;
}

/* ----------- GENERAL SETUP----------- */

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
    padding: 1% 0px;
}

a:hover {
    text-decoration: none;
}

.container-vw {
    max-width: 90vw;
}

@media (min-width: 1200px) {
    .container-vw {
        width: 90vw;
    }
}

.img-responsive img {
    width: 100%;
    height: auto;
    margin: auto;
}

.full-vw-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.card-model .container {
    width: 90%;
}

.card-model {
    padding: 4% 2% !important;
    border-radius: 8px !important;
}

.darker {
    background-color: #01082E;
}

.ligther {
    background-color: #F7A100;
}

.login-txt {
    margin-bottom: 5% !important;
}

input {
    border-radius: 4px !important;
    padding-left: 3% !important;
    /* height: 2.4rem !important; */

    /*border-bottom: none !important; */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

    background: #fff !important;

    /* width: 97% !important; */
}

.input-field label {
    color: #F7A100;
    top: -8% !important;
    font-weight: normal !important;
}

.btn-liga {
    color: #01082E;
    border-radius: 4px;
    text-transform: capitalize;
    transition: .4s ease;
}

.btn-liga.ligther:hover {
    background-color: #F7A100;
    border-radius: 500px;
    font-weight: bold;
    transition: .6s ease;
}

.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side, .skin-blue .main-header .navbar,
.skin-blue .main-header .logo {
    background-color: #01082E !important;
}

.logo-liga-container {
    margin: 12% 0px;
}

.user-info h3 {
    text-align: center;
    color: #F7A100;
    font-weight: bold;
    margin-bottom: -8px !important;
}


.user-info h5 {
    text-align: center;
    color: white;
}

.user-info {
    margin-bottom: 20%;
}

.content-wrapper {
    background-color: white !important;
}

.color-palette-box {
    background-color: white !important;
    border: none !important;
    box-shadow: none !important;
}

.box-header h2 {
    color: #01082E !important;
    font-weight: bold;
}

.add-btn {
    margin-top: -50px;
}

.btn-especial{
    min-width: 35%;
}

.btn-primary {
    background-color: #01082E !important;
    /*border: none;*/
    color: white;
    font-weight: bold;
    /*min-width: 35%;*/
    transition: .4s ease;
}

.btn-primary:hover {
    background-color: #F7A100 !important;
    border: none;
    color: #01082E;
    font-weight: bold;
    /* min-width: 25%; */
}

table.table thead {
    background-color: #01082E !important;
    color: white !important;
}

.table-bordered > thead > tr > th {
    border: none !important;
}

.skin-blue .sidebar-menu > li.active > a {
    color: #F7A100;
    background: #01082E;
    border-left-color: #F7A100;
    font-weight: bold;
}

.sidebar-menu > li:first-child {
    border-top: solid 2px #202853;
}

.sidebar-menu > li {
    border-bottom: solid 2px #202853;
}

.skin-blue .sidebar-menu > li:hover > a, .skin-blue .sidebar-menu > li.active > a {
    color: #F7A100;
    background: #202853;
    border-left-color: #F7A100;
    font-weight: bold;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    font-weight: bold;
    cursor: default;
    background-color: #F7A100;
    border-color: #F7A100;
}

.dropdown-menu hr {
    margin: 4px 0px;
}

.text-white {
    color: #FFF;
}

table.table-equipo {cursor: pointer}

.badge-success {
  background-color: #468847;
}

.bootstrap-switch{
    margin-left: 0px;
    margin-right: 5px;
}

.btn-margin-exportar{
    margin-left: 10px !important;
}

.label-carnet{
    padding: 6px 10px;
}

.fila_carnet{
    margin-right: 9px;
}


.vertical-align-middle{
    vertical-align: middle!important;
}

.mr-5 {
    margin-right: 5px !important;
}
/* Upload Preview */

.image-preview {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
}
.image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}
.image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 180px;
    height: 40px;
    font-size: 18px;
    line-height: 42px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}
.table{
    min-width: 100% !important;
}
.mt-5{
    margin-top: 5px!important;
}
.mb-5{
    margin-bottom: 5px!important;
}
.mtb-5{
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}
.rotate-ccw{
   margin-top: 10px;
   display: inline-block;
 }
 input[type='range'] {
   display: inline-block;
   width: 250px;
 }

 input[type='range']:focus {
   outline: none;
 }

 input[type='range'],
 input[type='range']::-webkit-slider-runnable-track,
 input[type='range']::-webkit-slider-thumb {
   -webkit-appearance: none;
 }

 input[type=range]::-webkit-slider-thumb {
   background-color: #717070;
   width: 20px;
   height: 20px;
   border: 3px solid #717070;
   border-radius: 50%;
   margin-top: -9px;
 }

 input[type=range]::-moz-range-thumb {
   background-color: #717070;
   width: 15px;
   height: 15px;
   border: 3px solid #717070;
   border-radius: 50%;
 }

 input[type=range]::-ms-thumb {
   background-color: #717070;
   width: 20px;
   height: 20px;
   border: 3px solid #717070;
   border-radius: 50%;
 }

 input[type=range]::-webkit-slider-runnable-track {
   background-color: #b7b4b4;
   height: 4px;
   border-radius: 5px;
 }

 input[type=range]:focus::-webkit-slider-runnable-track {
   outline: none;
 }

 input[type=range]::-moz-range-track {
   background-color: #eee;
   height: 3px;
 }

 input[type=range]::-ms-track {
   background-color: #eee;
   height: 3px;
 }

 input[type=range]::-ms-fill-lower {
   background-color: HotPink
 }

 
.rotate{
  display: inline-block;
    vertical-align: middle;
}
.icon-rotate-left{
  font-size:18px;
-webkit-transition: color 0.25s;
-moz-transition: color 0.25s;
-o-transition: color 0.25s;
-ms-transition: color 0.25s;
transition: color 0.25s;
cursor: pointer;
transform: scaleX(-1);
  }

  .icon-rotate-right{
  font-size:18px;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -ms-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
    }
.pic-small{
  font-size: 20px;
  padding-left: 15px;
  vertical-align: middle;
}
.pic-big{
  padding-left: 15px;
  font-size: 30px;
  vertical-align: middle;
}

.item{
  background-color: #eeeeee;
  text-decoration: none;
  margin-top: 10px;
  padding: 15px;
  border: 1px solid #d7d7d7;
  color: #585757;
  border-radius: 5px;
}

.item:hover{
  background-color: #e6a72f;
  color: #ffffff;
}
.item-icon{
  text-decoration: none;
  font-size: 35px;
}

.box-solid{
  background-color: #eeeeee;
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}

.br_tfoot{
    font-weight: 600;
}

tfoot .tcolpsan{
      text-align: left !important;
}

table.dataTable.dataTable_width_auto {
  width: auto;
}

table.table_partido_jugador input {
  width: 50px !important;
}

.bloque{
  display: flex;
}
.cuadrado{
  height: 60px;
  width: 60px;
  border: 1px solid;
}

h4.texto{
  margin-left: 10px;
  margin-top: 20px;
}

img.border-cancha{
  border: 1px solid #9e9494;
  border-radius: 5px;
}

td.first-column{
  background-color: #01082E !important;
    color: white !important;
}

.sin-borde{
  border: 1px solid #fff !important;
  border-right: 1px solid #000 !important;
}

.con-borde{
  border: 1px solid #000 !important;
}

.sin-borde-td{
   border: 1px solid #fff !important;
}

.border-button-td{
  border-bottom: 1px solid #000 !important;
}

/* Form Select Switches */
.switch {
    margin: 1px 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.switch input {
    position: absolute;
    opacity: 0;
}

.switch span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    border-radius: 14px;
    background: rgba(0, 0, 0, .2);;
    -webkit-transition: background-color .75s;
    transition: background-color .75s;
}

.switch span:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 16px;
    background-color: #ffffff;
    border-radius: 12px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}

.switch input:checked + span:after {
    left: 20px;
    width: 16px;
    top: 2px;
    bottom: 2px;
}

.switch input:checked + span {
    background-color: #eeeeee;
}

.switch-default input:checked + span {
    background-color: #dae0e8;
}

.switch-warning input:checked + span {
    background-color: #deb25c;
}

.switch-danger input:checked + span {
    background-color: #de815c;
}

.switch-info input:checked + span {
    background-color: #5cafde;
}

.switch-success input:checked + span {
    background-color: #afde5c;
}

.switch-primary input:checked + span {
    background-color: #5ccdde;
}

table.table tbody tr td > img{
    margin-right: 5px;
}

table.table{
    border: 1px solid #01082E;
}

tr.child td.child table.table.ui{
    border: 1px solid black;
    border-top: 2px solid black;
}

tr.child td.child table.table.ui tr{
    border-bottom: 1px solid black;
}
img.img-mini{
    width:50px;
    border-radius:25px;
}

table#tabla_index_partidos tbody td{
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.myclass { text-transform:capitalize; }

.plus:before{
    /*top: 9px;*/
    cursor: pointer;
    left: 4px;
    height: 14px;
    width: 14px;
    display: inline-block;
    /*position: absolute;*/
    color: white;
    border: 2px solid white;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #31b131;
    margin-right: 5px;
}
.plus.parent:before{
    content: '-';
    background-color: #d33333;
}

.bottom-2{
  margin-bottom: 2%;
}

.hide{
  display: none;
}

