	
	/************sweetalert2 styles*************/

/* warnign message*/
.swal2-warning{
  width: 200px;
  height: 200px;
  margin: 50px;
}

.swal2-x-mark{
	margin: 0 auto;
}

.swal2-cancel{
	margin-right: 5px;
}

.swal2-confirm{
	margin-left: 5px;
}
/********************************/
/*custom styles*/

.mt-1{
	margin: 10px 0px !important;
}

.my-1{
	margin: 10px 0px !important;
}

/*Datatables paging*/
.dataTables_paginate{
	width: 100% !important;
} 

.previous{
	float: left !important;
	margin-left: 25px;
	cursor: pointer;
}
.next{
	float: right !important;
	margin-right: 25px;
	cursor: pointer;
}

/*btn_premium*/
.premium{
	background-color: #5cafde;
	border-color: #5cafde;
}

.premium > i{
	color: white;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#main-container > header{
  background-color: rgb(241,4,130);
}

#sidebar-brand > a
{
  background-color: rgb(241,4,130) !important;
}
