    .image-preview {
      width: 120px !important;
      height: 120px !important;
      background-image: url('/images/user-img.png');
      background-size: contain;
      color: #ecf0f1;
      margin: 0 auto;
      border: 4px solid #f2f2f2;
      border-radius: 12px;
    }

    #image-label{
        color: red;
    }

    .btn-file {
      position: relative;
      overflow: hidden;
    }
    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }

    span{
        margin-top: 6px;
    }