 .d-inline {
   display: inline !important;
 }

 .d-inline-block {
   display: inline-block !important;
 }
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
    }
    .d-block {
      display: block !important;
    }
  .justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
    }
    .offset-1 {
      margin-left: 2.5%;
    }
  .m-0{
    margin: 0 auto;
  }
  .mr-1{
    margin-right: 10px;
  }
  .my-1{
    margin: 10px 0px !important;
  }
  .my-2{
    margin: 20px 0px !important;
  }
  .mb-1{
    margin-bottom: 10px !important;
  }
  .mb-0{
    margin-bottom: 0px !important;
  }
  .mt-0{
    margin-top: 0px !important;
  }
  .mt-1{
    margin-top: 10px;
  }
  .mt-2{
    margin-top: 20px !important;
  }
  .pd-1{
    padding: 10px;
  }
  .pdx-2{
    padding: 0px 20px;
  }
  .pdx-3{
    padding: 0px 30px !important;
  }

 /* @media (min-width: 1330px) {
    .btn-chart{
      margin: 0px 0px 10px 0px !important;
      width: 33% !important;
      display: inline-block !important;
    }
  }*/

  @media (max-width: 992px){
    .d-g{
      margin: 0 auto;
      display: grid !important;
      width: 50%;
    }
   
    /*.btn-vertical-chart{
      width: 32%;
      margin: 0px 0px 10px 0px !important;
      display: inline-block;
    }*/
  }

  #xModal{
    padding: 0px !important;
  }

  @media (min-width: 992px) and (max-width: 1280px) {
    .btn_chartType, .btn_selectChart {
      /*font-size: 14px;*/
      position: relative !important;
      /*display: block !important;*/
      margin-top: -2px;
      vertical-align: middle !important;
      width: 70% !important;
      padding: 4px 12px 4px 12px !important; 
    }
    .searcher{
      margin-top: -40px !important;
    }
 }

  @media (max-width: 768px){
    .d-g{
      margin: 0 auto;
      display: grid !important;
      width: 70%;
    }
  }

/* @media (min-width: 992px) {
   .float-lg-left {
     float: left !important;
   }
   .float-lg-right {
     float: right !important;
   }
   .float-lg-none {
     float: none !important;
   }  
 }*/

 /*@media (min-width: 1280px){
   .float-xl-left {
     float: left !important;
   }
   .float-xl-right {
     float: right !important;
   }
   .float-xl-none {
     float: none !important;
   }
 }
*/
/* @media (min-width: 1240px) {
   .pdr-150{
    padding-right: 150px !important;
   }
   .pdl-150{
    padding-left: 150px !important;
   }
 }

 @media (min-width: 1150px) and (max-width: 1240px)  {
   .pdr-100{
    padding-right: 100px !important;
   }
   .pdl-100{
    padding-left: 100px !important;
   }
 }*/

/* @media (min-width: 992px) and (max-width: 1150px) {
   .pdr-50{
    padding-right: 50px !important;
   }
   .pdl-50{
    padding-left: 50px !important;
   }
 }
*/
  .input-date{
    margin: 0 auto;
    width: 70% !important;
    padding: 7px 4px 7px 4px;
    text-align: center !important;
    font-size: 12px !important;
   }
   .input-number{
   width: 24% !important; 
   padding: 7px 2px 7px 0px !important; 
   margin-right: 10px !important;
   text-align: center !important;
   display: inline-block !important;
   }
  hr{ 
    height: 4px;
    color: #777;
    background-color: #777;
    border-radius: 8px;
    margin: 0px 0px 8px 0px !important;
  }
  .label-data{
    font-size: 16px;
    margin-bottom: 10px;
  }
  .searcher{
    margin-top: 12px;
    border-radius: 8px;
    background-color: #f2f2f2;
    height: 100% !important;
  }
  #searcher_form{
    margin-top: 20px !important;
  }
  .btn-block{
    width: 80% !important;
    margin: 0 auto;
  }
  .chart{
    width: 100% !important;
    /*height: 400px !important;*/
    height: 100% !important;
    padding: 0px !important;
    margin-right: 10px;
  }
  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
  }

  .btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  /* tooltip */
 .blue-tooltip + .tooltip > .tooltip-inner {font-size: 14px; background-color: rgb(60,141,188);}
 .blue-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#ffffff;}

 #filter_dashboard_data{
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 20px;
 }

 /* exporting buttons*/
 
 /*.highcharts-button path {
     stroke-linecap: square;
 }
 .highcharts-button:hover path {
     stroke: white;
 }
*/

/* Loader */

/*.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3c8dbc;
  border-bottom: 16px solid #3c8dbc;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}*/

/* grafica en ventana modal*/
#modal-chart{
  width: 90%;
  height: 97%;
  margin: 1% 2% 5% 5%;
}

.loader {
  margin: 100px auto 50px auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}