table tbody tr td form button.btn,table tbody tr td a.btn, table tbody tr td button.btn {
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

table tbody tr td form{
    display: inline-block;
}
table tbody tr td:last-child{
    text-align: center;
}

.label_img_perfil{
    position: relative;
    bottom: 75px;
    left: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.table tbody tr:hover{
    background-color: #627aad69;
    cursor: pointer;
}

.center-block div{
    margin: 0 auto;
}

    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.drawing-board-canvas-wrapper {
    margin-top: -2% !important;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
       .board{
    margin-left: -10% !important;
  }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
} 
