@font-face {
   font-family: 'Dancing Script';
   src: url('../font/DancingScript-Regular.ttf');
   font-style: normal;
}
body
{
	padding-bottom: 0px!important;
}
.clear
{
	clear: both;
}
.div_center
{
	margin: 0 auto;
	float: none;
}
.pagination > li:not(:last-child) 
{
    margin-right: .5rem;
}
  .pagination > li > a, .pagination > li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}

.text-center {
    text-align: center!important;
}
.header_select 
{
  	background-color: white;
  	border: 1px solid rgb(241,4,130);
  	border-radius: 4px;
  	display: inline-block;
  	font: inherit;
  	line-height: 1.5em;
  	padding: 0px 40px 0 10px;
  	border-radius: 25px;
  	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
}
select.header_select 
{
	background-image: linear-gradient(45deg, transparent 50%, #fff 50%),linear-gradient(135deg, #fff 50%, transparent 50%),linear-gradient(to right, rgb(241,4,130), rgb(241,4,130));
	background-position: calc(100% - 20px) calc(1em + -6px), calc(100% - 16px) calc(1em + -6px), 100% 0;
	background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
	background-repeat: no-repeat;
}
.slider_div
{
	background-color: #fff;
	padding-left: 1rem;
}
.slider_div > .slider_ul
{
	padding: 10px 0px;
	margin: 0;
}
.slider_ul > li
{

	padding-right: 20px;
	margin: 0!important;
}
.slider_ul > li > a
{
	color: #000;
	font-weight: 500;
}
.slider_ul > li > a:hover
{
	text-decoration: none;
}
.and_font
{
	font-family: 'Dancing Script';	
}
.box_banner
{
	width:650px;
	height:310px;
	position: absolute;
	z-index: 9999;
	background-color: #fff;
	right: 0;
	bottom: 0;
	padding: 40px;
	margin-bottom: 30px;
	margin-right: 15px;
	box-shadow: 0px 4px 2px -2px lightgrey;
}
.box_banner > h1
{
	color: #000;
}
.box_banner > h4
{
	color: gray;
	margin-top: 40px;
	margin-bottom: 40px;
}
.banner_btn
{
	width: 100%;
	padding: 10px;
	font-size: 40px;
	background-color: rgb(241,4,130);
	color: #fff!important;
	font-weight: 500;
}
.video_text
{
	font-family: 'Dancing Script';
	font-size: 36px;
    color: gray;
    font-weight: bold;
}
.video_main
{
	position: relative;
  	display: inline-block;
  	margin: 30px 30px 30px 0;
}
.v_tag .fas
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #555;
	color: white;
	font-size: 16px;
	padding: 12px 24px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;

}
.video_img
{
	height: 69px;
}
.index_card
{
	min-height: 245px;
	border-radius: 15px;
	border: none;
}
.card
{
	margin-bottom: 25px;
	border: none;
}
.card-img-top
{
	min-height: 200px;
    max-height: 150px;
    object-position: center;
    object-fit: contain;
}
.card-body
{
	padding: 0.5rem;
}
.card-text
{
	font-weight: 500;
	margin-bottom: 0.4rem;
	color: #565656!important;
}
.card-text > p
{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.4rem;
}
.card-text:hover
{
	color: #000!important;
	text-decoration: none;
}
.b3_text
{
	margin-top: 20px;
	font-size: 15px;
	color: #000;
}
.small_image
{
	vertical-align: middle;
  	width: 36px;
  	height: 36px;
  	border-radius: 50%;
  	margin-right: 9px;
  	box-shadow: 0px 0px 1px 1px #ddd;
}
.sub_text
{
	color: darkgray;
	font-weight: 500;
	font-size: 11px;
}
.mt50
{
	margin-top: 50px;
}
.mb13
{
	margin-bottom: 13px;
}
.color_black
{
	color: #000;
}
.bg_white
{
	background-color: #fff;
	padding: 15px;
}
.diff_color
{
	color: rgb(241,4,130);
	font-weight: 500;
	margin-top: 15px;
}
.input_border
{
	border: 1px solid rgb(241,4,130);
}
.signin_block_color
{
	background-color: rgb(74,74,74);
	padding: 35px;
}
.signup_font
{
	color: #fff;
	font-size: 30px;
	text-align: center;
}
.email_text
{
	padding: 10px 15px;
}
.btn_common
{
	background-color: rgb(241,4,130);
	color: #fff;
	padding: 10px 20px;
}
.footer_color
{
	background-color: #fff;
	padding: 50px;
}
.ul_title
{
	color: #000;
	font-weight: 500;
	margin-bottom: 25px;
	font-size: 18px;
}
.footer_ul > li
{
	margin-bottom: 8px;
}
.footer_a
{
	color: rgb(156,156,156);
	font-size: 18px;
}
.footer_a:hover
{
	text-decoration: none!important;
	color: #000!important;
}
.footer_social > li
{
	margin-right: 27px!important;
	font-size: 19px;
}
.footer_social > li > a
{
	color: rgb(75,75,75);
}
.footer_social > li > a:hover
{
	color: #000;
}
.container:first-child
{
	margin-top: 0px!important;
}
header
{
	/*margin-bottom: 30px;*/
}
.overlay 
{
	position: relative;
}

.overlay .thumbnail 
{
	display: block;
}


.overlay .playWrapper 
{
  	opacity: 1;
  	position: absolute;
  	z-index: 1;
  	top: 0;
  	width: 192px;
  	height: 109px;
  	background: rgba(0,0,0,0.6) url("http://wptf.com/wp-content/uploads/2014/05/play-button.png") no-repeat scroll center center / 50px 50px;
}

.playWrapper .playBtn 
{
  	position: absolute; z-index: 2;
  	width: 50px; height: 50px;
  	left: 0; right: 0; top: 0; bottom: 0; margin: auto; /* center */
}
.header_select
{
	outline: 0;	
}
.login_bg
{
	min-height: 100vh;
	background-size: cover;
}
.add_product_padding
{
	padding: 15px;
}
.community_a:hover, .product a:hover 
{
	color: #000!important;
}
.index_ul
{
	background-color: #fff;
	display: block
}
.index_ul > li > a
{
	color: rgba(0,0,0,.5);
}
.index_li a:hover 
{
	color: rgba(0,0,0,.7);
	text-decoration: none;
}
.faq_top
{
	margin-top: 50px;
	margin-bottom: 80px;
}
.card_css
{
	border: 1px solid;
	background-color: transparent; 
	margin-bottom: 0px!important;
	border-radius: 0px;
	border-bottom: 0px;
}
.card_lastb
{
	border-bottom: 1px solid!important;
}
.card_hcss
{
	background: transparent;
}
.acc_btn
{
	color: #8B8B8B;
	font-size: 20px;
}
.acc_btn:hover
{
	color: #000;
}
.coll_card-body
{
	padding: .75rem 1.25rem!important;
}
@media screen and (max-width: 600px) {
	.box_banner
	{
		width: 100%;
		position: unset;
		padding: 20px;
	}
	.box_banner > h1
	{
		font-size: 30px;
	}
	.box_banner > .banner_btn
	{
		font-size: 20px;
	}
	.signin_block_color
	{
		padding: 20px;
	}
	.signup_font
	{
		font-size: 23px;
	}
	.mmt_15
	{
		margin-top: 15px;
	}
	.footer_color
	{
		padding: 10px;
	}
	.mm_text_center
	{
		text-align: center;
	}
}