/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 4rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background: #F2F2F2;
}

.jumbotron {
  background: url(../img/bg.png);
  padding: 150px 0;
}

.navbar.bg-light {
  background-color: #fff !important;
}

.panel {
  background: #fff;
  padding: 20px 0;
  min-height: 220px;
}

.panel h6 {
  margin-top: 40px;
}

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

.product-grid .row {
  margin-bottom: 25px;
}

.product {
  background: #fff;
  text-align: center;
  border-radius: 3px;
}

.product img {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.product h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  display: inline-block;
}

.form-signin {
  margin-top: 100px !important;
}

.btn-facebook {
  background: #3b5998;
  color: #fff;
}

.btn-primary {
  background: #F10080;
  border: 1px solid #F10080;
}

main.products-page, main.product-page, main.add-product-page, main.account-page {
  padding-top: 50px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/* SIGNUP / LOGIN
-------------------------------------------------- */
.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* Extra Css*/
.container:first-child{
margin-top: 35px;
}

.tabs{
  cursor: pointer;
}

.img-fluid{
  text-align: center;
  display: block;
  margin: 0 auto;
}

span.btn-lg{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  text-align:center;
}

.product_add, #borrowed_products h3{
  margin-bottom: 10px;
}

.product a{
  color: #5a5a5a;
}

.product a:hover{
  color: #007bff;
}

#my_product .col-sm-12 h3{
  float: left;
}

.error{
  color: #ff0000;
}

.carousel-inner img 
{
  width: 100%;
  height: 100%;
}

.carousel-caption
{
  position: absolute; 
  top: calc(45% - 24px); 
  text-shadow: 2px 2px #000;
  left: 30%;
  right: 30%;
}
.carousel-caption .overlay
{
  background-color:rgba(0,0,0,0.7);
  /*box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8);*/
  box-shadow: 0 0 15px #000;
  border: none;
}
.h1_media
{
  margin-bottom: 0px;
}
.product h5
{
  width: 100%!important;
}
.topright
{
    top: 5px!important;
    right: 0px!important;
    transform: rotate(40deg);
    position: absolute;
    font-size: 18px;
    border: 1px solid #c63131;
    background: #c63131;
    color: white;
    font-size: 0.7em;
    font-weight: bold;
    padding: 3px;
}

@media (max-width: 680px){
  .carousel-caption
  {
    top: calc(39% - 24px);
    width: 76%;
    left: 12%;
  }
  .overlay h1,p > b
  {
    font-size: 1.3rem;
    font-weight: normal;
  }
}

@media (max-width: 991px) and (min-width: 768px){
  .carousel-caption
  {
    top: calc(39% - 24px);   
    width: 60%;
    left: 20%;
  }
}

.product > a > img
{
    background-image: url("../img/img_bg.jpg");
}

.product > a > div > img
{
    background-image: url("../img/img_bg.jpg");
}

.pagination >li> a , .pagination >li > span
{
    padding: 6px 12px;
    border-radius: 50%;
    background-color: rgb(154,154,154) !important;
    color: #fff!important;
    cursor: pointer;
}
.pagination >li > a:hover , .pagination >li > span:hover
{
    background-color: rgb(74,74,74) !important;
}

.pagination >li.active > span{
  background-color: rgb(74,74,74) !important;
}

.mb50
{
    margin-bottom: 50px;
}

.ml40{
  margin-left: 40%;
}

.ml60{
  margin-left: 60px;
}

.submittedbyimg{
  border-radius: 50%; 
  width: 50px; 
  height: 50px;
  background-image: url("../img/profile/profile_user.jpg");
}

.submittedbytext{
  float: right; 
  text-align: left;
  padding-left: 2px;
}

.submitted{
  margin-bottom: 0px; 
  color: darkgray;
  font-weight: 500;
  font-size: 11px;
}

.whitebc{
  background: #fff !important;
}

.product{
    height: 340px;
    padding-top: 3px;
}

.red{
  color: #C63131;
}

.card-body > img{
  /*background-image: url("img/img_bg.jpg") !important;*/
  max-height:400px;
  
}

.bgimg > a > img
{
    background-image: url("../img/img_bg.jpg");
}
